<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header">
      <%- partial('post/title', {class_name: 'archive-article-title'}) %>
      
      <div class="archive-article-date-author">
       <a href="<%- url_for(post.path) %>" class="archive-article-date">
  				<time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, 'DD/MM/YYYY') %></time>
			 </a>
			 <%- partial('post/author') %>
			</div>
    </header>
  </div>
</article>